//main:../../../../../style.scss
.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(90% - 60px);
    @import "site-branding";
    @media screen and (min-width: $laptop){
      justify-content: space-between;
    }
}
