.site-branding {
    .header-logo-link {
        display: block;
        .header-logo {
            height: var(--max-logo-height, calc(var(--header-height) - 2rem));
            max-width: none;
        }
    }
}
