.featured-content-container {
    --card-height: 380px;

    margin-top: var(--homepage-section-spacing);

    z-index: 10;
    position: relative;
    .featured-content-item-wrapper {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: var(--card-height);
        position: relative;
        display: flex;
        align-items: flex-end;
        &.slick-slide {
            margin-inline: 8px;
        }

        .featured-content-heading-wrapper {
            width: 100%;
            color: white;
            text-align: center;
            padding: 20px 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            transition: min-height 0.4s ease;
            min-height: 0;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                opacity: 0.8;
                background: var(--clr-primary);
                height: 100%;
            }

            & > * {
                position: relative;
            }

            .featured-content-heading {
                font-size: clamp(14px, 2.5vw, 22px);
                text-transform: uppercase;
            }

            .featured-content-subheading {
                font-size: clamp(17px, 2.5vw, 26px);
                font-weight: bold;
                text-transform: uppercase;
            }

            .featured-content-text {
                opacity: 0;
                max-height: 0;
                transition: opacity 0.4s ease, max-height 0.8s ease;
            }
        }

        @media screen and (min-width: $laptop) {
            &:hover,
            &:focus {
                .featured-content-heading-wrapper {
                    min-height: 50%;
                }

                .featured-content-text {
                    opacity: 1;
                    max-height: 500px;
                }
            }
            &:focus {
                .featured-content-heading-wrapper {
                    min-height: 100%;
                }
            }
        }
    }
    .slick-arrow {
        bottom: -40px;
        top: auto;
        z-index: 1;
        left: 0;
        transform: translateX(-50%);

        &.slick-prev {
            margin-left: 43%;
        }

        &.slick-next {
            margin-left: 57%;
        }
    }

    @media screen and (min-width: $laptop) {
        --card-height: 550px;
    }

    @media screen and (min-width: $desktop) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px 40px;
        max-width: 80%;
    }
}
